@import url('../__origin/css/common.css');

/* ↓ワンコメ機能側の設定↓ */
/* ワンコメ機能側での変数 */
:root {
  --lcv-direction: column-reverse;
  --lcv-name-color: var(--main-color);
  --lcv-text-color: var(--main-color);

  /* 背景と影はいらない */
  --lcv-background-color: rgba(255, 255, 255, 0);
  --lcv-name-shadow: var(--lcv-name-shadow-0);
  --lcv-name-shadow-color: rgba(255, 255, 255, 1);
  --lcv-comment-shadow: var(--lcv-comment-shadow-0);
  --lcv-comment-shadow-color: rgba(255, 255, 255, 1);

  --lcv-timeout: 30s;
}

/* わんコメのコメントの入退場の設定 */
:root {
  --lcv-enter-duration: 100ms;
  --lcv-move-duration: 200ms;
}

.comment-enter-active,.comment-leave-active {
  transition: opacity var(--lcv-enter-duration) var(--lcv-enter-easing)!important;
}

.comment-enter-from,.comment-leave-to {
  opacity: 0!important;
  transform: none!important;
}
/* ↑ワンコメ機能側の設定↑ */

/* ↓このテーマ独自の部分↓ */
/* 独自定義変数 */
:root {
  --cui-main-color: rgba(224,224,224,1);
  --cui-background-color: rgba(0, 0, 0, 0.5);
  --cui-font-name: "ＭＳ ゴシック";
  --cui-line-height: 1;
  --cui-comment-padding: 0.5em;
  --main-color: var(--cui-main-color);
}

:root {
  background: var(--cui-background-color);
}

body {
  font-family: var(--cui-font-name);
  line-height: var(--cui-line-height);
}

.avatar {
  display: none;
}

.comment-text img {
  height: 1em;
  padding-bottom: 0.2em;
  width: auto;
}

.comment {
  margin-top: 0;
  margin-bottom: 0;
  padding: var(--cui-comment-padding) 0.2em;
}

.name {
  margin-right: 0.2em;
  font-weight: normal;
}

.badge {
  display: none;
}

.comment-block > *, .comment-body > *, .comment-text div {
  display: inline;
}

div[data-owner="true"] .normal-user {
  display: none;
}

div[data-owner="false"] .root-user {
  display: none;
}

.char{
  opacity: 0;
  border-right: 0.1em solid var(--cui-main-color);
  animation: type 0ms step-start forwards, bar 100ms step-end forwards;
}

@keyframes type {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*
  chrome での不具合を無理やり修正
  animation-delay を大量の要素につけると, いくつか上手く 100% まで移動しなくなるが, 中間点を追加することで動くようになった
  firefox ではいらない
*/
@keyframes bar {
  from {
    border-right: 0.1em solid var(--cui-main-color);
  }
  80% {
    border: none;
  }
  to {
    border: none;
  }
}
/* ↑このテーマ独自の部分↑ */

