@import url('../__origin/css/common.css');

/* デバッグ用 */
:root {
  background: rgba(0, 0, 0, 0.5);
}

/* 独自定義変数 */
:root {
  --main-color: rgba(224,224,224,1);
}

/* ワンコメ機能側での変数 */
:root {
  --lcv-direction: column-reverse;
  --lcv-name-color: var(--main-color);
  --lcv-text-color: var(--main-color);

  /* 背景と影はいらない */
  --lcv-background-color: rgba(255, 255, 255, 0);
  --lcv-name-shadow: var(--lcv-name-shadow-0);
  --lcv-name-shadow-color: rgba(255, 255, 255, 1);
  --lcv-comment-shadow: var(--lcv-comment-shadow-0);
  --lcv-comment-shadow-color: rgba(255, 255, 255, 1)
}

:root {
  --lcv-timeout: 30s;
}

body {
  font-family: "ＭＳ ゴシック";
  line-height: 1;
}

.avatar {
  display: none;
}

.comment-text img {
  height: 1em;
  padding-bottom: 0.2em;
  width: auto;
}

.comment {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0.5em 0.2em;
}

.name {
  margin-right: 0.2em;
  font-weight: normal;
}

.badge {
  display: none;
}

.comment-block > *, .comment-body > *, .comment-text div {
  display: inline;
}

div[data-owner="true"] .normal-user {
  display: none;
}

div[data-owner="false"] .root-user {
  display: none;
}

.char {
  opacity: 0;
  animation: type steps(1) forwards, 0.1s bar steps(1) forwards;
}

@keyframes type {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes bar {
  from {
    border-right: 0.1em solid var(--main-color);
  }
  to {
    border-right: none;
  }
}

:root {
    --lcv-enter-duration: 100ms;
    --lcv-move-duration: 200ms;
}

.comment-enter-active,.comment-leave-active {
  transition: opacity var(--lcv-enter-duration) var(--lcv-enter-easing)!important;
}

.comment-enter-from,.comment-leave-to {
  opacity: 0!important;
  transform: none!important;
}
/* テンプレカスタム ここまで */
